$primary-color: rgb(50, 50, 50);
$secondary-color: #eece1a;
//Set Text Color
@function set-text-color($color) {
    @if (lightness($color) > 40) {
      @return #000;
    } @else {
      @return #fff;
    }
  }


@mixin easeOut {
    transition: all 0.5s ease-out;
  }

.project {
  flex: 1 auto;
  margin: 0.3rem 0.2rem;
}

.projectImage {
  width: 100%;
  border: 2px solid #fff;

  &:hover {
    opacity: 0.5;
    @include easeOut();
  }
}

.projectText {
    margin: 0.3rem 0.5rem;
}

//Button Styles

.btn {
    display: block;
    padding: 0.3rem 0.5rem;
    border: 0;

    &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.btnDark {
    @extend .btn;
    background: lighten($primary-color, 20);
    color: #fff;
}

.btnLight {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
}
